/*************************************************
    GENERAL STYLES
*************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

:root {
    --colorBlue: #0084FD;
    --colorPurple: #9692E4;
    --colorYellow: #FDC15F;
    --colorLightBlue: #B4DDFF;
    --boxBorderRadius-small: 10px;
    --boxBorderRadius-big: 30px;
}


/* BUTTONS */

.btn {
    padding: 10px 15px;
    border-radius: 30px;
    letter-spacing: .2rem;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-blue {
    background-color: var(--colorBlue);
    color: white;
}

.btn-purple {
    background-color: var(--colorPurple);
}


/* TEXT */

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-weight: 200;
    font-size: .9rem;
    text-transform: uppercase;
}

p {
    line-height: 160%;
}


/************************************************
    UTILITIES
************************************************/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    margin-inline: 10%;
}

.wrap {
    flex-wrap: wrap;
}



/************************************************
    SITE SECTIONS
************************************************/


/* SECTION HEADER START *************************************/

header {
    background-color: var(--colorBlue);
    padding-block: 15px;
}

header>div {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    gap: 25px;
    align-items: center;
}

header a {
    color: white;
}

header .btn {
    letter-spacing: normal;
}

.hamburger-menu {
    display: none;
}

/* !SECTION HEADER END */


/* SECTION GET DEMO START ************************************/

#get-demo {
    margin-block: 100px;
}

#get-demo.cards {
    gap: 20px;
    align-items: stretch;
}

#get-demo .card {
    background-color: var(--colorLightBlue);
    border-radius: var(--boxBorderRadius-small);
    padding: 30px 20px;
}

#get-demo .card h5 {
    color: var(--colorBlue);
    margin-bottom: 30px;
}

#get-demo .card p {
    color: #455460;
}

#get-demo .card-big {
    width: calc((100% / 3) * 2 - 20px + (20px / 3 * 2));
    gap: 20px;
    padding-bottom: 0;
}

#get-demo .card-big div {
    flex-basis: 50%;
}

#get-demo .card-big figure {
    flex-basis: 50%;
}

#get-demo .card-big button {
    padding-inline: 50px;
    margin-top: 30px;
    font-weight: 600;
}

#get-demo .card-small {
    width: calc((100% / 3) - 20px + (20px / 3));
    align-items: center;
}

#get-demo .card-small p {
    text-align: center;
}

#get-demo .card-small i {
    font-size: 4.5rem;
    margin-bottom: 30px;
    color: var(--colorBlue);
}

/* !SECTION GET DEMO END */


/* SECTION PLANNING START ********************************/

#planning {
    background-color: var(--colorPurple);
    padding-block: 100px;
}

#planning .container {
    margin-inline: 20%;
    gap: 50px;
}

#planning .left-column {
    color: white;
    flex-basis: 50%;
    justify-content: space-between;
}

#planning .left-column figure {
    margin-bottom: 150px;
}

#planning .right-column {
    flex-basis: 50%;
    background-color: white;
    padding: 30px;
    align-items: center;
    border-radius: var(--boxBorderRadius-big);
    margin-top: 200px;
    gap: 20px;
}

#planning .right-column figure {
    width: 80%;
}

#planning .right-column p {
    text-align: center;
    font-style: italic;
}

#planning .right-column span {
    background-color: var(--colorPurple);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

#planning .right-column i {
    font-size: .8rem;
}

/* !SECTION PLANNING END */


/* SECTION TESTIMONIALS START ********************************/

#testimonials {
    margin-block: 100px;
}

#testimonials .intro {
    text-align: center;
    margin-bottom: 40px;
    gap: 30px;
}

#testimonials h3 {
    color: var(--colorPurple);
}

.testimonil-cards {
    gap: 30px;
}

.testimonial-card {
    background-color: var(--colorPurple);
    color: white;
    padding: 20px 10px;
    gap: 40px;
    align-items: center;
    border-radius: var(--boxBorderRadius-big);
}

.testimonial-card figure {
    width: 300px;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.testimonial-card .testimonial1 {
    background-image: url("../img/testimonial1.jpg");
}

.testimonial-card .testimonial2 {
    background-image: url("../img/testimonial2.jpg");
}

.testimonial-card .testimonial3 {
    background-image: url("../img/testimonial3.jpg");
}

.testimonial-card .name {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}


/************************************************
    RESPONSIVE
************************************************/


/* RESPONSIVE TABLET (748px) **********/

@media screen and (max-width: 748px) {

    .container {
        margin-inline: 3%;
    }


    /* HEADER */

    header nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu i {
        color: white;
        font-size: 1.5rem;
    }


    /* GET DEMO SECTION */

    #get-demo .card-big {
        flex-direction: column;
    }

    #get-demo .card-big figure {
        width: 50%;
    }


    /* PLANNING SECTION */

    #planning .container {
        flex-direction: column;
        margin-inline: 3%;
    }

    #planning .left-column figure {
        margin-bottom: 50px;
    }

    #planning .left-column h4 {
        font-size: 4rem;
        margin-bottom: 40px;
    }

    #planning .right-column {
        margin-top: 10px;
    }

}


/* RESPONSIVE MOBILE (480px) **********/

@media screen and (max-width: 480px) {

    .container {
        margin-inline: 8%;
    }

    .btn {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }


    /* HEADER */

    header {
        padding-block: 20px;
    }

    #logo {
        height: 60px;
    }

    .hamburger-menu i {
        font-size: 2rem;
    }


    /* GET DEMO SECTION */

    #get-demo.cards {
        gap: 30px;
    }

    #get-demo .card {
        padding: 40px 30px;
    }

    #get-demo .card-big {
        width: 100%;
        padding-bottom: 0;
    }
    
    #get-demo .card-big figure {
        width: 100%;
        margin-top: 20px;
    }
    
    #get-demo .card-big button {
        padding: 20px 80px;
        margin-top: 50px;
    }
    
    #get-demo .card-small {
        width: 100%;
    }

    #get-demo .card-small i {
        font-size: 5rem;
    }

}